body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#monitor {
    width: 650px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

#header {
    display: flex; 
    justify-content: space-between;
}

#logs {
    height: 250px;
    overflow-y: auto;
    border-top: None;
    padding-top: 10px;
}

.line {
    display: grid;
    grid-template-columns: 80px 140px 140px 80px 100px;
    gap: 10px;
    padding: 5px;
    font-family: 'Courier New', monospace;
}

.header-row {
    background-color: rgba(0, 255, 0, 0.1); /* Subtle background for header */
    border-bottom: 2px solid lime;
    margin-top: 20px;
    color: white;
}

.col-size { text-align: right; }

.green {
    color: #00ff00;
}

.red {
    color: #ff3333
}

canvas {
    border: 1px solid lime;
    background-color: rgba(0, 0, 0, 0.7);
}

#freezeBtn {
    background-color: #333;
    color: lime;
    border: 1px solid lime;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    margin-bottom: 10px;
    transition: 0.3s;
}

#freezeBtn.active {
    background-color: red;
    color: white;
    border-color: white;
}